version: '2'
services:
    elasticsearch:
        image: elasticsearch:7.7.0
        container_name: elasticsearch
        ports:
            - "9200:9200"
        environment:
            ES_JAVA_OPTS: "-Xms512m -Xmx512m"
            discovery.type: single-node

    kibana:
        image: elastic/kibana:8.2.2
        container_name: kibana
        ports:
            - "5601:5601"

    mysql:
        image: mysql:5.6
        container_name: mysql
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: 123456
