version: '2'
services:
    elasticsearch:
        image: elasticsearch:7.7.0
        container_name: elasticsearch
        ports:
            - "9200:9200"
        environment:
            ES_JAVA_OPTS: "-Xms512m -Xmx512m"
            discovery.type: single-node

    kibana:
        image: kibana:7.6.2
        container_name: kibana
        ports:
            - "5601:5601"
        environment:
            ELASTICSEARCH_HOSTS: http://172.17.0.1:9200
